.matchesPage {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #0E0E0E;
}

.matchDayMenu {
    display: flex;
    margin-right: 20px;
    margin-left: 20px;
    overflow: scroll;
}

.page-item a {
    background-color: #141414;
    color: white;
}

.page-item a:hover {
    background-color: white;
    color: black;
}

.page-item.active span {
    background-color: white !important;
    color: black !important;
    border: 1px solid white !important;
}

.menuTitle {
    background-color: black;
    color: white;
    border-radius: 5px;
    width: 110px;
    font-weight: 500;
}


.menuTitle.page-item:hover a {
    background-color: #141414 !important;
    color: white !important;
}

.menuTitle a.page-link {
    cursor: default;
}

.matchesRow {
    display:flex;
}

.showStats {
    align-items: flex-start;
}

@media (max-width: 1350px) {
    .matchesRow {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1;
    }

    .matchDayMenu {
        margin: 0;
    }
}









